@model BoomzGlobal.Models.Package_T

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Package_T</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PackageID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PackageID)
            @Html.ValidationMessageFor(model => model.PackageID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FranchiseID, "Franchise_T")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FranchiseID", String.Empty)
            @Html.ValidationMessageFor(model => model.FranchiseID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityID, "City_T")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityID", String.Empty)
            @Html.ValidationMessageFor(model => model.CityID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Package)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Package)
            @Html.ValidationMessageFor(model => model.Package)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOC)
            @Html.ValidationMessageFor(model => model.DOC)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
