@model BoomzGlobal.Models.Company_Package_T

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Company_Package_T</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyPackageID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyPackageID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company_T.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company_T.CompanyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PackageID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PackageID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Franchise_T.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Franchise_T.CompanyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Discount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReceiptAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiptAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Paid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Paid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOC)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
