@model BoomzGlobal.Models.Company_T

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Company_T</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyID)
            @Html.ValidationMessageFor(model => model.CompanyID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountryID, "Country_T")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CountryID", String.Empty)
            @Html.ValidationMessageFor(model => model.CountryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityID, "City_T")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityID", String.Empty)
            @Html.ValidationMessageFor(model => model.CityID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID, "Category_T")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubCategoryID, "SubCategory_T")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SubCategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.SubCategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Building)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Building)
            @Html.ValidationMessageFor(model => model.Building)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Road)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Road)
            @Html.ValidationMessageFor(model => model.Road)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductService)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductService)
            @Html.ValidationMessageFor(model => model.ProductService)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Profile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Profile)
            @Html.ValidationMessageFor(model => model.Profile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Facebook)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Facebook)
            @Html.ValidationMessageFor(model => model.Facebook)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Twitter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Twitter)
            @Html.ValidationMessageFor(model => model.Twitter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Linkedin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Linkedin)
            @Html.ValidationMessageFor(model => model.Linkedin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gplus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gplus)
            @Html.ValidationMessageFor(model => model.Gplus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Youtube)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Youtube)
            @Html.ValidationMessageFor(model => model.Youtube)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOC)
            @Html.ValidationMessageFor(model => model.DOC)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
